data/**
logs/**
bonsai/notifier.py
**/nohup.out
.ipynb_checkpoints/**
.idea/**
scratch*.ipynb
*.gv
*.pdf
*.png
chroma_ims/**
chroma.webm
**/*.pt
**/*.pkl
oasis*
bin_packing*
*Copy1*
Untitled*
genotype_loader*
**/__pycache__/**
